.title{
    
    font-size: 100px;
    color: rgb(123, 7, 182);


    
}


.kacper{
    background: url();
    height: 100%;
    overflow: hidden;
    color: rgb(255, 2, 2);
    font-size: 40px;
 }